body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("bg.png");
    background-repeat: repeat;
}

/* Body of the Create Page */
.createBody {
    background-image: url("bg_inverted.png");
    background-repeat: repeat;
    color: white;
}

/* Body of the About Page */
.about {
    width: 50vw;
    background-color: #eeeeee99;
    border-radius: 0.25em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* Stage Image display on Home */
.stage img {
    width: 110px;
    height: auto;
    border-radius: 0.5em;
    margin-right: 10px;
    margin-bottom: 0px;
}

/* Stage div */
.stage {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
}

/* Stage Name */
.stage p {
    padding: 0;
    margin: 0;
    max-width: 110px;
}

/* Struck-out Stage */
.struck {
    filter: grayscale(100%);
    opacity: 0.65;
}

/* Hazardless Stages get a blue dotted outline */
.hazardless {
    border: 4px dashed blue;
    width: 102px;
}


h2 {
    font-size: 24px;
}

footer {
    color: black;
	margin-top: 50px;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    background-color: #eee;
    opacity: 0.75;
}

/* Stagelist Builder dropdown */
select {
    display: inline-block;
    font-size: 25px;
    margin-bottom: 4px;
}

/* Community List styling */
ul {
    list-style: none;
    padding-left: 0px;
}

li {
    list-style: none;
    padding-left: 0px;
}

.hidden {
    display: none;
}


button {
    font-size: 25px;
}

.small {
    font-size: 18px;
}

/* Stage Bucket + and - buttons */
section button {
    border-radius: 0.5em;
    min-width: 100px;
    font-size: 40px;
}

/* Stagelist Creator Checkboxes */
section input {
    width: auto;
    margin-left: 8px;
    transform: scale(1.5);
}

/* Stagelist Creator Checkbox hazardless display */
section input + label {
    opacity: 0;
    font-size: 30px;
}

input:checked + label {
    opacity: 1;
}

/* Stagelist Creator every-other-section styling POC */
section:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Mobile */
@media only screen and (max-width: 1080px) {
    .stage img {
        width: 15vw;
        margin-right: 2px;
    }
    .stage img + p {
        max-width: 15vw;
        font-size: 11px;
        line-height: 12px;
    }

    .hazardless {
        width: 14vw;
        border: 2px dotted blue;
    }

    .about {
        width: 95%;
    }
}